# data analysis
pymongo
# fastapi
fastapi
pydantic
uvicorn
jinja2
python-multipart
pydantic-settings
beanie
motor
faker
# data analytics with finance
jupyterlab 
pyarrow
pandas 
numpy 
matplotlib
seaborn
scipy
scikit-learn
wget
pymongo
pyLDAvis
finance-datareader
plotly
openpyxl
pykrx
pandas_datareader
yfinance
pymysql
# AI
torch
